<!--/* 页脚设置 */-->
<th:block th:fragment="footer">
  <div class="footer-logo">
    <p
      th:style="'background-image: url(' + ${theme.config.others.footer_logo ?: #theme.assets('/images/footer/sakura.svg')} + ');'">
    </p>
  </div>
  <div class="footer-halo">
    <halo:footer />
  </div>
  <div class="footer-copyright">
    <!--/* 请尊重作者，务必保留版权声明! */-->
  </div>
  <div class="footer-device">
    <p class="footer-site-time">
      ©
      <th:block th:text="${#dates.format(new java.util.Date().getTime(), 'yyyy')}" />
      <th:block th:text="${site.title}"></th:block>
    </p>
    <p class="footer-beian">
      <th:block th:if="${not #strings.isEmpty(theme.config.others.footer_case_number)}">
        &nbsp;
        <a href="https://beian.miit.gov.cn/" target="_blank" th:text="${theme.config.others.footer_case_number}" aria-label="gongan filing address"></a>
      </th:block>
      <th:block th:if="${not #strings.isEmpty(theme.config.others.footer_ga_case_number)}">
        &nbsp;
        <a th:href="@{http://www.beian.gov.cn/portal/registerSystemInfo?recordcode={recordcode}(recordcode=${theme.config.others.footer_ga_select_number})}"
          target="_blank" aria-label="gongan filing address">
          <img th:src="${#theme.assets('/images/footer/gongan.png')}" alt="" />
          <th:block th:text="${theme.config.others.footer_ga_case_number}"></th:block>
        </a>
        <br> 
        <p>
          <span class="iconify" data-icon="streamline-emojis:dizzy"></span>
          <span>Powered by 
            <a href="http://halo.run" target="_blank">Halo</a> 
            • 
            <a href="https://github.com/LIlGG/halo-theme-sakura" target="_blank">Halo-Sakura</a>
            <span class="iconify" data-icon="streamline-emojis:dizzy"></span>
          </span>
        </p>
      </th:block>
    </p>
  </div>
</th:block>
